#content {
	position: relative;
	overflow: hidden;
	background: #313131;
}

#content:before, #content:after,
#content .before, #content .after {
	content: '';
	position: absolute;
	z-index: 2;
	width: 20%;
	height: 1em;
	background: #393939;
}

#content:before,
#content .before {
	top: 0;
	left: 0;
	padding-right: 1.7em;
}

#content:after,
#content .after {
	bottom: 0;
	right: 0;
	padding-left: 0.1em;
	margin-left: -0.1em;
}

#content article {
	position: relative;
	top: -1.4em;
	width: 60%;
	margin: 0 auto -1.4em;
	padding-bottom: 0.2em;
	border-bottom: 1em solid #393939;
}

#content p,
#content .vcard dt,
#content .vcard dd {
	margin: 1em 0 0;
	font: 120%/120% "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #d4d4d4;
	text-indent: 1.5em;
}

#content article p.universe {
	color: #777;
	padding-bottom: 0.2em;
}

#content article p.universe a {
	font-size: 110%;
	line-height: 120%;
}

#content article > p:last-child,
#content article ul > li:last-child p,
#content article dl {
	display: inline;
	position: relative;
	bottom: -1em;
	padding-left: 1.5em;
	background: #313131;
}